<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <h2>Authorization</h2>

    <p>
        A website wants to verify your identity!
    </p>
    
    <dl>
        <dt>Website</dt>
        <dd><code>{{ clientId|e }}</code></dd>
        <dt>Your Identity</dt>
        <dd><code>{{ me|e }}</code></dd>
    </dl>

    <form method="post" action="{{ confirmUri|e }}">
        <fieldset>
        <legend>Approve</legend>
        <button type="submit" value="Approve">Approve</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
