<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}
<body>
    <div id="container">

        <a class="header" href="."><h1>IndieCert</h1></a>

        <p>
            A website wants to verify your identity!
        </p>

        <table class="askConfirmation">
            <tr><th>Website</th><td><code title="{{ redirectUri|e }}">{{ clientId|e }}</code></td></tr>
            <tr><th>Your Identity</th><td><code>{{ me|e }}</code></td></tr>
        </table>

        <form class="askConfirmation" method="post" action="{{ confirmUri|e }}">
            <input type="checkbox" id="remember" name="remember" />
            <label class="remember" for="remember">Remember for 1 week</label>
            <input class="info" type="submit" value="Approve" autofocus>
        </form>

        {% include 'footer.html' %}
    </div> <!-- /container -->
</body>
</html>
