<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}
<body>
    <div id="container">

        <a class="header" href="welcome"><h1>IndieCert</h1></a>

        <p>
            <strong title="{{ redirectUri|e }}">{{ clientId|e }}</strong> wants to verify your claimed identity
            <strong>{{ me|e }}</strong>.
        </p>

        <form method="post" action="{{ confirmUri|e }}">
            <label for="remember">Remember approval for 1 week</label>
            <input type="checkbox" id="remember" name="remember" />
            <button class="reject" type="submit" name="approval" value="reject">Reject</button>
            <button class="approve" type="submit" name="approval" value="approve">Approve</button>
        </form>

        {% include 'footer.html' %}
    </div> <!-- /container -->
</body>
</html>
