<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>IndieCert</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="container">
    <h1>IndieCert</h1>

    <p>
You are now successfully authenticated as <strong>{{ me|e }}</strong>!
    </p>

    <p>
You can read more about IndieCert in this <a href="https://www.tuxed.net/fkooman/blog/indiecert.html">blog</a> entry. For example how it works exactly, and how to implement it in your own service, or run your own instance!
    </p>
    </div>
</body>
</html>
