<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>IndieCert</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="container">
    <a class="header" href="welcome"><h1>IndieCert</h1></a>

    <p class="info">
You are now successfully authenticated as <strong>{{ me|e }}</strong>!
    </p>

    <p>
    Take me <a href="welcome">back</a> to the homepage!
    </p>
    </div>
</body>
</html>
