<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}
<body>
    <div id="container">
        <a class="header" href="welcome"><h1>IndieCert</h1></a>

        <p class="info">
            You are now successfully authenticated!
        </p>
        
        <p>
            Your identity is <code>{{ me|e }}</code>.
        </p>

        <p>
            <a href="indieauth/logout">Logout</a>
        </p>

        {% include 'footer.html' %}
    </div> <!-- /container -->
</body>
</html>
