<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}
<body>
    <div id="container">
        <a class="header" href="."><h1>IndieCert</h1></a>
        <p>
            The page you tried to visit needs authentication. Please login
            with your domain name.
        </p>

        <form class="authenticate" method="post" action="indieauth/auth">
            <label for="me">https://</label><input id="me" required type="text" name="me" placeholder="example.org">
            <input type="hidden" name="redirect_to" value="{{ redirect_to|e }}">
            <input class="info" type="submit" value="Sign In">
        </form>
        
        {% include 'footer.html' %}
    </div> <!-- /container -->
</body>
</html>
