<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p class="warning">
        This is an <strong>EXPERIMENTAL</strong> service. No warranty!
    </p>

    <p>
        IndieCert is a service to authenticate to services around the web using your
        home page URL as an identity without requiring a password by using secure
        client certificates!
    </p>

    <button>Try Me!</button>

    {% include 'footer.twig' %}
</body>
</html>
