<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
        <li class="active"><a href="{{ root|e }}">Home</a></li>
        <li><a href="enroll">Enrollment</a></li>
        <li><a href="faq">FAQ</a></li>
    </ul>

    <h2>Home</h2>

    <p>
        IndieCert is an <a href="https://indieauth.com/">IndieAuth</a>-compatible service for authenticating using
        client certificates. Check out the <a href="faq">FAQ</a> to find out more!
    </p>

    <p class="info">
        To simply get started, continue to the <a href="{{ demoUrl|e }}">Demo</a>!
    </p>

    {% include 'footer.twig' %}
</body>
</html>
