<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p class="warning">
        This is an <strong>EXPERIMENTAL</strong> service. No warranty!
    </p>

    <p>
        IndieCert is a service to authenticate to services around the web using your
        home page URL as an identity without requiring a password by using secure
        client certificates!
    </p>
    <p>
        This service is compatible with 
        <a href="https://indieauth.com">IndieAuth</a> and you can use this
        service as your <a href="https://indiewebcamp.com/distributed-indieauth">preferred</a> identity provider.
    </p>
    <p>
        Also check out the <a href="faq">FAQ</a>!
    </p>

    {% include 'footer.twig' %}
</body>
</html>
