<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p class="warning">
        IndieCert was unable to find a matching fingerprint on your claimed URL
    </p>

    <p>
        You claimed the identity <code>{{ me|e }}</code>, but IndieCert was unable to
        find the fingerprint of the certificate you are currently authenticated with
        on this page.
    </p>

    <p>
        You can easily fix this by placing the following fragment in the
        <code>&lt;head&gt;</code> section of your HTML page:
    </p>

<pre>
&lt;html&gt;
  &lt;head&gt;
    ...
    <strong>&lt;link rel="publickey" href="ni:///sha-256;{{ certFingerprint|e }}?ct=application/x-x509-user-cert"&gt;</strong>
    ...
  &lt;/head&gt;
  &lt;body&gt;
    ...
  &lt;/body&gt;
&lt;/html&gt;
</pre>

    <p>
        If you also want to use this instance as your IndieAuth provider for relying
        parties supporting "Distributed IndieAuth" you can add the following to your
        HTML page as well:
    </p>

<pre>
&lt;html&gt;
  &lt;head&gt;
    ...
    <strong>&lt;link rel="authorization_endpoint" href="{{ authorizationEndpoint|e }}"&gt;</strong>
    ...
  &lt;/head&gt;
  &lt;body&gt;
    ...
  &lt;/body&gt;
&lt;/html&gt;
</pre>

    <p>
        When done, you can <a href="">reload</a> this page and you should be
        redirected to the service that was requesting authentication and be logged in.
    </p>

    {% include 'footer.twig' %}
</body>
</html>
