<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p class="warning">
        You reached this page because you do not yet have a client certificate
        installed in your browser/operating system or declined to authenticate with it
        to IndieCert<sup>1</sup>.
    </p>

    {% if enrollUrl %}
        <p>
            If you want you can generate a new client certificate! 
        </p>

        <form method="get" action="{{ enrollUrl|e }}">
            <fieldset>
                <legend>Enroll</legend>
                <input type="hidden" name="me" value="{{ me|e }}">
                <button type="submit">Enroll</button>
            </fieldset>
        </form>
    {% endif %}

    <ol class="footnote">
        <li>
Some browser will require you to restart, or use "Private Browsing" 
to forget that you did not want to authenticate to a site using a client certificate.
        </li>
    </ol>

    {% include 'footer.twig' %}
</body>
</html>
