<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p class="warning">
        You reached this page because you do not yet have a client certificate
        installed in your browser/operating system or declined to authenticate with it
        to IndieCert.
    </p>

    <p>
        If you want you can generate a new client certificate <a href="#">here</a>!
        Follow the instructions provided there to get going. If you already have a
        client certificate restart your browser (1) and
        try again!
    </p>

    <ol>
        <li>
Some browser will require you to restart, or use "Private Browsing" 
to forget that you did not want to authenticate to a site using a client certificate...
        </li>
    </ol>

    {% include 'footer.twig' %}
</body>
</html>
