<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <h2>Authentication</h2>

    <p class="warning">
        You did not authenticate with a client certificate!
    </p>

    <p>
        If you do not yet have a client certificate, you can get one <a href="enroll?redirect_to={{ requestUrl|e }}">here</a>.
    </p>

    <p>
Some browsers will require you to restart, or use "Private Browsing" 
to forget that you did not want to authenticate to a site using a client certificate.
    </p>

    {% include 'footer.twig' %}
</body>
</html>
