<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>IndieCert</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="container">
    <h1>IndieCert</h1>
    <p>
Welcome to IndieCert! Decentralized authentication for the IndieWeb using
client certificates!
    </p>

    <p>
    <strong>
You reached this page because you do not yet have a client certificate
installed in your browser/operating system or declined to authenticate with it
to IndieCert.
    </strong>
    </p>

    <p>
If you want you can enroll <a href="enroll">here</a>! Follow the instructions
provided there to get going. If you already have an IndieCert client
certificate restart your browser<span class="sup">1</span> and try again!
    </p>

    <div class="footnotes">
        <span class="sup">1</span>
        unfortunately most browser will require you to restart, or use
        'private mode' to forget that you did not want to authenticate to a
        site using the client certificate.
    </div>
    </div>
</body>
</html>
