<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>IndieCert</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="container">
    <h1>IndieCert</h1>
    <p>
Welcome to IndieCert! IndieCert is a service to login to services using client
certificates in a distributed way. A service can use an IndieCert instance of
choice, or run their own!
    </p>
    <p>
If you want more
information about IndieCert you can check out <a href="https://www.tuxed.net/fkooman/blog/indiecert.html">this</a> blog post!
    </p>
    <p>
You can find the source code
<a href="https://github.com/fkooman/indiecert">here</a>!
    </p>
    </div>
</body>
</html>
