<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>IndieCert</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="container">
    <h1>IndieCert</h1>
    <p>
Welcome to IndieCert! IndieCert is a service to make use of client certificates
to authenticate to services. This service is intended as a reference
implementation of IndieCert. All code is available under the AGPLv3 license
and anyone can run their own instance of this code.
    </p>
    <p>
If you want more information about IndieCert you can check out
<a href="https://www.tuxed.net/fkooman/blog/indiecert.html">this</a> blog post,
you can find the source code
<a href="https://github.com/fkooman/indiecert">here</a>.
    </p>
    </div>
</body>
</html>
