body {
    margin: 0 auto;
    max-width: 40em;
    font-family: sans-serif;
    color: #444;
    padding: 0.5em;
    text-align: justify;
    line-height: 1.4;
}

a {
    color: #444;
}

code, pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

ul.mainMenu {
    margin: 0;
    padding: 0;
}

ul.mainMenu li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0.75em;
}

ul.mainMenu a {
    color: #444;
    padding: 0.7em;
    text-decoration: none;
}

ul.mainMenu li.active {
    background-color: #f0f0f0;
}

hr {
    display: none;
}

p.footer {
    text-align: center;
    font-size: 80%;
    color: #888;
}

fieldset {
    border: 0px solid #000;
}

legend {
    display: none;
}

form.enroll {
    background-color: #f8f8f8;
}

label {
    margin-top: 1em;
    display: block;
    font-size: 85%;
}

button {
    margin-top: 1em;
    display: block;
}

p.info {
    background-color: #093;
    color: #fff;
    padding: 1em;
}

p.info a {
    color: #fff;
}

p.warning {
    background-color: #fc2;
    padding: 1em;
}

dt {
    font-weight: bold;
}
