body {
    font-family: sans-serif;
    text-align: justify;
}

div#container {
    max-width: 600px;
    margin: 0 auto;
}

code { 
    background: hsl(220, 80%, 90%); 
}

pre {
    white-space: pre-wrap;
    background: hsl(30,80%,90%);
}

span.sup {
    vertical-align: super;
    font-size: 75%;
    color: #888;
}

div.footnotes {
    font-size: 75%;
    color: #888;
}
