body {
    text-align: justify;
}

div#container {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}

h1 {
    border-bottom: 1px solid #000;
}

code, pre {
    font-family: monospace;
    font-size: 120%;
}

code { 
    background-color: #d1def9;
}

pre {
    background-color: #f9e5d1;
    white-space: pre-wrap;
    border: 1px solid #e9d5c1;
    padding: 0.5em;
}

span.sup {
    vertical-align: super;
    font-size: 75%;
    color: #888;
}

div.footnotes {
    font-size: 75%;
    color: #888;
    margin-bottom: 1em;
}

a.header {
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: underline;
    color: #000;
}

p.info {
    background-color: #063;
    border: 1px solid #052;
    color: #fff;
    padding: 1em;
}

p.info a {
    color: #fff;
}

p.warn {
    background-color: #fc0;
    border: 1px solid #eb0;
    color: #000;
    padding: 1em;
}

p.warn a {
    color: #000;
}

div.footer {
    border-top: 1px solid #888;
    margin: 0.5em 0;
    padding: 0.5em 0;
    font-size: 85%;
    color: #888;
    text-align: right;
}

div.footer a {
    color: #888;
}

input[type=text] {
    padding: 0.5em;
    border: 1px solid #d5d5d5;
}

input[type=submit] {
    padding: 0.5em;
    border: 1px solid #ccc;
    color: #000; 
    background: #ddd;
}

input[type=submit].info {
    border: 1px solid #052;
    color: #fff; 
    background: #063;
}

input[type=submit].warn {
    border: 1px solid #fc0;
    color: #fff; 
    background: #ec0;
}

input[type=submit].err {
    border: 1px solid #d00;
    color: #fff; 
    background: #c00;
}

form.authenticate, form.askConfirmation {
    text-align: center;
    padding: 1em;
    margin: 1em auto;
}

form.authenticate label {
    padding: 0.5em 0.25em;
    border: 1px solid #d5d5d5;
    border-right: 0;
    background-color: #e5e5e5;
}

table.askConfirmation {
    width: 100%;
    border-collapse: collapse;
}

table.askConfirmation th, table.askConfirmation td {
    padding: 0.5em 0;
}

form.askConfirmation label {
    margin-right: 2em;
}

table.account {
    width: 100%;
    border-collapse: collapse;
}

table.account th {
    border-bottom: 1px solid #000;
}

table.account th, table.account td {
    padding: 0.5em 0;
}
