# Set the server mode. When set to 'development', the HTTP session is allowed
# to be sent of HTTP and the TLS certificate check is disabled.
serverMode: production

# Uncomment this line below to enable Twig template caching
#templateCache: /var/lib/indiecert-auth/tpl

# The URL to redirect the user to if they want to visit a demo service
demoUrl: https://demo.indiecert.example/

Db:
    dsn: 'sqlite:/var/lib/indiecert-auth/storage.sqlite'

CA:
    storageDir: /var/lib/indiecert-auth/ca
    commonName: Demo CA
    keySize: '2048'
