; Disable the certificate check when requesting remote resources
; THIS IS ONLY FOR DEVELOPMENT PURPOSES. DO NOT DISABLE THIS FOR DEPLOYMENT 
; YOU HAVE BEEN WARNED!!!
;disableServerCertCheck = true

; Uncomment this line below to enable Twig template caching
;templateCache = "/var/lib/indiecert-auth/tpl"

[PdoStorage]
dsn = "sqlite:/var/lib/indiecert-auth/storage.sqlite"
;dsn = "sqlite:/var/www/indiecert-auth/data/storage.sqlite"
;dsn = "mysql:host=localhost;dbname=indiecert"
;username = "indiecert"
;password = "s3cr3t"
;dsn = "pgsql:host=localhost;port=5432;dbname=XYZ;user=ABC;password=DEF"
