; Set the server mode. When set to 'development', the HTTP session is allowed
; to be sent of HTTP and the TLS certificate check is disabled.
serverMode = production

; Uncomment this line below to enable Twig template caching
;templateCache = "/var/lib/indiecert-auth/tpl"

[PdoStorage]
dsn = "sqlite:/var/lib/indiecert-auth/storage.sqlite"
;dsn = "sqlite:/var/www/indiecert-auth/data/storage.sqlite"
;dsn = "mysql:host=localhost;dbname=indiecert"
;username = "indiecert"
;password = "s3cr3t"
;dsn = "pgsql:host=localhost;port=5432;dbname=XYZ;user=ABC;password=DEF"
